@import '../../../styles/text';

mat-dialog-content {
  max-height: 1000px;
  overflow-y: scroll;

  .header {
    .text-size-alternative-2-bold;
    margin-top: 10px;
  }  

  .item {
    .text-size-alternative-2;
  }
}

mat-dialog-actions {
  margin-top: 30px;
}