<h2 mat-dialog-title>Deploying the following resources:</h2>

<mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="2px">
    <ng-container *ngFor="let cost of resourceCosts | keyvalue">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="header">{{ cost.value.monthlyEstimate?.description}}</div>
        <div class="header">{{ cost.value.monthlyEstimate?.cost }} {{ cost.value.monthlyEstimate?.currency }}</div>
      </div>
      <mat-divider></mat-divider>
      <div *ngFor="let price of cost.value.prices" class="item" fxLayout="row" fxLayoutAlign="space-between">
        <div>› {{ price.unit }}</div>
        <div>{{ price.unitPrice }} {{ price.currency }}</div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="onApprove()">Deploy</button>
</mat-dialog-actions>