<mat-card fxFlex="grow">
  <mat-card-content>
    <mat-drawer-container>
      <mat-drawer mode="side" [opened]="true">
        <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
          <saas-resource-menu [resources]="resources" fxLayout="column" fxLayoutAlign="space-around" (handleDragStart)="onDragStart($event)">
          </saas-resource-menu>
          <button mat-flat-button color="primary" (click)="onApply()">Apply netspec</button>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <saas-netspec #netspec></saas-netspec>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-card-content>
</mat-card>