@import '../../styles/styles';

mat-drawer-container {
  width: 100%;
  height: 700px;

  mat-drawer {
    padding: 20px;
  }

  saas-netspec {
    margin: 5px;
    width: 100%;
    height: 100%;
  }
}

