@import '../colors.less';
@import '../fonts.less';

svg {
  font-family: "Helvetica";

  .node {
    circle {
      stroke: rgb(red(@grey), green(@grey), blue(@grey));
      stroke-width: 2;

      &.green {
        fill: rgb(red(@green), green(@green), blue(@green));
      }

      &.yellow {
        fill: rgb(red(@yellow), green(@yellow), blue(@yellow));
      }

      &.red {
        fill: rgb(red(@red), green(@red), blue(@red));
      }

      &.selected {
        stroke: rgb(red(@blue), green(@blue), blue(@blue));
      }
    }

    .label {
      font-size: 12pt;
      text-anchor: middle;
      font-weight: @font-weight-bold;
    }

    .description {
      fill: @dark-grey;
      font-size: 8pt;
      text-anchor: middle;
    }
  }

  .router {
    .outer-circle {
      fill: rgb(red(@blue), green(@blue), blue(@blue));
      stroke: rgb(red(@blue), green(@blue), blue(@blue));
      stroke-width: 2;
    }

    .inner-circle {
      fill: rgb(red(@blue), green(@blue), blue(@blue));
      stroke: rgb(red(@pure-white), green(@pure-white), blue(@pure-white));
      stroke-width: 2;
    }
  }

  .link {
    stroke: rgb(red(@black), green(@black), blue(@black));
    stroke-width: 2;
  }

  .pending-link {
    stroke: rgb(red(@black), green(@black), blue(@black));
    stroke-width: 2;
    opacity: 0.8;
    stroke-dasharray: 3;
  }

  .error-link {
    stroke: rgb(red(@red), green(@red), blue(@red));
    stroke-width: 2;
    stroke-dasharray: 3;

    .error-icon {
      .outer-circle {
        fill: rgb(red(@red), green(@red), blue(@red));
        stroke: rgb(red(@red), green(@red), blue(@red));
        stroke-width: 1;
        stroke-dasharray: 0;
      }
  
      .inner-circle {
        fill: rgb(red(@red), green(@red), blue(@red));
        stroke: rgb(red(@pure-white), green(@pure-white), blue(@pure-white));
        stroke-width: 1;
        stroke-dasharray: 0;
      }

      .symbol {
        fill: rgb(red(@pure-white), green(@pure-white), blue(@pure-white));
        stroke: unset;
        font-weight: 'bolder';
        font-size: 'small';
        stroke-width: 0.1;
        stroke-dasharray: 0;
      }
    }
  }
}