<mat-card>
  <mat-stepper #stepper labelPosition="bottom" [linear]="true">
    <mat-step label="Select platform" [completed]="isPlatformSelected" editable="false">
      <h1>Discover Resources from Which Platform?</h1>

      <div class="platforms">
        <button (click)="onSelectPlatform(CloudPlatform.AWS)">
          <img src="assets/aws.png" alt="AWS">
        </button>

        <button (click)="onSelectPlatform(CloudPlatform.Azure)">
          <img src="assets/azure.svg" alt="Azure">
        </button>
      </div>
    </mat-step>

    <mat-step label="Provide credentials" editable="false" [completed]="isProviderCreated" [ngSwitch]="platform">
      <ng-container *ngSwitchCase="CloudPlatform.AWS">
        <h1>Enter <span>AWS</span> Credentials</h1>

        <form [formGroup]="awsCredentialsForm" (ngSubmit)="submitAwsCredentialsForm()">
          <mat-form-field appearance="outline">
            <mat-label>Select provider...</mat-label>
            <mat-select #awsProvider formControlName="provider" [compareWith]="compareProviders">
              <mat-option *ngFor="let provider of providers$ | async" [value]="provider">{{ provider.name }}</mat-option>
              <mat-divider></mat-divider>
              <mat-option value="">Create new...</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container formGroupName="credentials" *ngIf="!awsProvider.value">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Account Name</mat-label>
              <input placeholder="Enter account name" matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Access Key ID</mat-label>
              <input placeholder="Enter access key ID" matInput formControlName="accessKey">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Secret Access Key</mat-label>
              <input type="password" placeholder="Enter secret access key" matInput formControlName="secretKey">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Tag</mat-label>
              <input placeholder="Enter tag" matInput formControlName="tag">
            </mat-form-field>
          </ng-container>

          <button mat-flat-button color="primary" [disabled]="awsCredentialsForm.pristine || submittingCredentialsForm">
            Start Discovering…
            <mat-icon *ngIf="submittingCredentialsForm">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          </button>

          <mat-error *ngIf="error">Can not create provider: {{ error }}</mat-error>

        </form>
      </ng-container>

      <ng-container *ngSwitchCase="CloudPlatform.Azure">
        <h1>Enter <span>Azure</span> Credentials</h1>

        <form [formGroup]="azureCredentialsForm" (ngSubmit)="submitAzureCredentialsForm()">
          <mat-form-field appearance="outline">
            <mat-label>Select provider...</mat-label>
            <mat-select #azureProvider formControlName="provider" [compareWith]="compareProviders">
              <mat-option *ngFor="let provider of providers$ | async" [value]="provider">{{ provider.name }}</mat-option>
              <mat-divider></mat-divider>
              <mat-option value="">Create new...</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container formGroupName="credentials" *ngIf="!azureProvider.value">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Subscription ID</mat-label>
              <input placeholder="Enter subscription ID" matInput formControlName="subscription">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Tenant ID</mat-label>
              <input placeholder="Enter tenant ID" matInput formControlName="tenant">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Client ID</mat-label>
              <input placeholder="Enter client ID" matInput formControlName="accessKey">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Client Secret</mat-label>
              <input type="password" placeholder="Enter client secret" matInput formControlName="secretKey">
            </mat-form-field>
          </ng-container>

          <button mat-flat-button color="primary" [disabled]="azureCredentialsForm.pristine || submittingCredentialsForm">
            Start Discovering…
            <mat-icon *ngIf="submittingCredentialsForm">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          </button>

          <mat-error *ngIf="error">Can not create provider: {{ error }}</mat-error>

        </form>
      </ng-container>
    </mat-step>

    <mat-step label="Discovery & Selection">
      <ng-container *ngIf="dataSource.data.length; else discovering">
        <h1>Select Resources to Import</h1>

        <div class="resources">
          <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" (change)="$event ? masterToggle() : null"></mat-checkbox>
              </th>

              <td mat-cell *matCellDef="let row">
                <mat-checkbox [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"></mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Tags Column -->
            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef>Tags</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip *ngFor="let tag of element.tags | keyvalue">{{ tag.key }} | {{ tag.value }}</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="RESOURCE_TABLE_COLUMNS"></tr>
            <tr mat-row *matRowDef="let row; columns: RESOURCE_TABLE_COLUMNS;" (click)="selection.toggle(row)"></tr>
          </table>

          <button mat-stroked-button (click)="onImportMore()">Import More…</button>
          <button mat-flat-button color="primary" (click)="onDone()">Done</button>
        </div>
      </ng-container>

      <ng-template #discovering>
        <mat-spinner></mat-spinner>

        <p>Discovering resources…</p>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-card>