@import '../../styles/styles';

:host {
  display: block;
}

h1 {
  &:extend(.h5-bold);
  margin-bottom: 50px;
}

.platforms {
  display: flex;
  justify-content: center;

  button {

    &:not(:first-child) {
      margin-left: 100px;
    }

    img {
      @size: 70px;

      width: @size;
      height: @size;
      vertical-align: middle;
    }
  }
}

form,
.resources,
mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

form,
.resources {
  text-align: right;

  & > * {
    text-align: initial;
  }
}

form {
  width: 320px;
  text-align: right;

  mat-form-field {
    display: block;
  }
}

.resources {
  width: 80%;

  table {
    width: 100%;
    margin-bottom: 30px;
  }

  button,
  a {

    &:not(first-child) {
      margin-left: 10px;
    }
  }
}

mat-spinner {
  margin-bottom: 50px;
}

mat-spinner + p {
  &:extend(.h5-bold);
  margin: unset;
  text-align: center;
}
