@pure-black: #000000;
@blue: #0198CF;
@black: #2B2E33;
@grey: #777777;
@dark-grey: #78828F;
@green: #87C56F;
@very-light-grey: #CCCCCC;
@alto: #DDDDDD;
@super-silver: #EEEEEE;
@light-grey: #F0F2F5;
@yellow: #F4B728;
@alabaster: #FAFAFA;
@red: #FF4757;
@pure-white: #FFFFFF;

@font-black: @black;
@font-dark-grey: #4E5866;
@font-acid-green: #63E0AE;
@font-grey: #9AA7B8;
