@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: @font-weight-normal;
  font-display: block;
  /* stylelint-disable indentation */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../assets/font/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../assets/font/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
       url(../assets/font/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
  /* stylelint-enable indentation */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
