@import 'fonts';

h1,
button,
a {
  text-transform: lowercase;

  &::first-letter {
    text-transform: none;
  }
}

h1 span {
  text-transform: none;
}

.font-weight-normal {
  font-weight: @font-weight-normal;
}

.font-weight-bold {
  font-weight: @font-weight-bold;
}

.h6 {
  &:extend(.font-weight-normal);
}

.h4-bold,
.h5-bold,
.h6-bold,
.text-size-bold {
  &:extend(.font-weight-bold);
}

.h4-bold {
  font-size: 24px;
  &:extend(.letter-spacing-small-negative);
}

.h5-bold {
  font-size: 19px;
  &:extend(.letter-spacing-small-negative);
}

.h6,
.h6-bold {
  &:extend(.text-size);
  &:extend(.letter-spacing-extra-small-negative);
}

.text-size,
.text-size-bold {
  font-size: 16px;
}

.text-size-alternative {
  font-size: 15px;
}

.text-size-alternative-2 {
  font-size: 14px;
}

.text-size-alternative-2-bold {
  font-size: 14px;
  &:extend(.font-weight-bold);
}

.text-small-size {
  font-size: 12px;
}

.letter-spacing-extra-small-negative {
  letter-spacing: -0.2px;
}

.letter-spacing-small-negative {
  letter-spacing: -0.4px;
}
