<img [ngClass]="{'user-avatar': mode === AVATAR_MODE.USER}" [src]="url" [width]="size" [height]="size" [alt]="name" *ngIf="url; else cap">

<ng-template #cap>
  <div class="cap-avatar" [ngClass]="[mode === AVATAR_MODE.USER ? 'user-avatar' : getCapColor()]" [ngStyle]="{
    'width.px': size,
    'height.px': size
  }">
    <span class="cap-letter">
      {{ caption  }}
    </span>
  </div>
</ng-template>
