@import '../../../styles/styles';

:host {
  display: inline-block;
}

img {
  vertical-align: top;
}

img,
.cap-avatar {
  border-radius: 10%;
}

.user-avatar {
  border-radius: 50%;
  background-color: @dark-grey;
  transition: box-shadow 0.5s ease;
  border: 2px solid @black;
  box-shadow: 0px 0px 0px 2px @font-dark-grey;

  &:hover {
    box-shadow: 0px 0px 0px 2px @dark-grey;
  }

  .cap-letter {
    .text-size-alternative;
    color: @pure-white;
  }
}

.cap-avatar {
  .letter-spacing-extra-small-negative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

  span.cap-letter {
    .font-weight-normal;
  }

  &.red {
    .cap-color(@red);
  }

  &.green {
    .cap-color(@font-acid-green);
  }

  &.blue {
    .cap-color(@blue);
  }
}

.cap-color(@color) {

  &::before {
    background-color: @color;
  }

  .cap-letter {
    color: @color;
  }
}
