@import '../../../styles/styles.less';

:host {
  display: flex;
  gap: 30px;
}

h1 {
  &:extend(.h4-bold);
}

section.welcome {
  flex-basis: 40%;
  padding-top: 16px;

  img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-8%);
  }
}

mat-card {
  flex: 1;

  mat-card-title {
    &:extend(.h5-bold);
    text-transform: lowercase;

    &::first-letter {
      text-transform: none;
    }
  }

  mat-card-content form#resource-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    input {
      display: none;
    }

    label {
      display: flex;
      width: 70%;
      gap: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;

      mat-icon {
        width: 44px;
        height: 44px;
        color: @blue;
        font-size: 44px;
      }

      span,
      p {
        &:extend(.text-size);
      }

      span {
        &:extend(.font-weight-bold);
      }

      p {
        margin-bottom: unset;
      }

      &:hover {
        background-color: @super-silver;
      }
    }

    input:active,
    input:checked {

      & + label {
        background-color: @alto;
      }
    }
  }

  mat-card-actions {
    text-align: center;
  }
}
