<section class="welcome">
  <h1>Welcome!</h1>

  <p>Nefeli helps you create a global network connecting your cloud resources from different regions and providers, your data centers and offices, and even employee devices.</p>

  <img src="assets/saas-arch.png" alt="SaaS Arch">
</section>

<mat-card>
  <mat-card-title-group>
    <mat-card-title>What Types of Resources Do You Want To Connect to Your Global Network?</mat-card-title>

    <mat-card-subtitle>You can always add more later.</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <form id="resource-form" [formGroup]="resourceForm" (ngSubmit)="submitResourceForm()">
      <input type="checkbox" id="cloud-resource" formControlName="cloud">
      <label for="cloud-resource">
        <mat-icon>cloud</mat-icon>

        <div>
          <span>Cloud</span>

          <p>Connect cloud resources.</p>
        </div>
      </label>

      <input type="checkbox" id="enterprise-resource" formControlName="enterprise">
      <label for="enterprise-resource">
        <mat-icon>domain</mat-icon>

        <div>
          <span>Enterprise</span>

          <p>Connect on-premise networks.</p>
        </div>
      </label>

      <input type="checkbox" id="nefeli-edge-resource" formControlName="nefeliEdge">
      <label for="nefeli-edge-resource">
        <mat-icon>dns</mat-icon>

        <div>
          <span>Nefeli Edge</span>

          <p>Connect a Nefeli Edge device hosted in your environment.</p>
        </div>
      </label>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button form="resource-form" mat-flat-button color="primary">Let's Get Started!</button>
  </mat-card-actions>
</mat-card>
