@import '../../../styles/styles';

:host {
  display: flex;
  align-items: center;
  min-height: 52px;
  height: 52px;
  background: @black;
  color: @font-grey;

  &::before,
  &::after {
    content: '';
    flex-basis: 110px;
  }

  .logo {
    margin-right: 25px;

    img {
      height: 30px;
    }
  }

  .menu,
  .secondary-menu {

    &,
    div {
      height: 100%;
    }
  }

  .menu {
    margin-left: 10px;
    margin-right: 10px;

    button {
      &:extend(.text-size);
      color: @light-grey;
      margin-right: 25px;
      padding: 2px 8px;
      border: 1px solid transparent;
      border-radius: 15px;
      text-decoration: none;

      &:hover {
        border-color: @light-grey;
      }
    }
  }

  .secondary-menu {
    @icon-spacing: 2px;

    > * {
      margin-left: 15px - @icon-spacing;
    }

    button {
      border-radius: 50%;
      padding: unset;

      img {
        vertical-align: middle;
      }
    }

    saas-avatar {
      cursor: pointer;
    }
  }
}