<!-- Logo -->
<div class="logo" fxFlex fxShow.lt-sm="false" fxLayoutAlign="start center">
  <img src="assets/nefeli-logo.svg">
</div>

<!-- Menu -->
<nav class="menu" fxLayoutAlign="center center">
  <button>Overview</button>
  <button>Stats</button>
  <button>Diagnostics</button>
</nav>

<div class="secondary-menu" fxFlex fxLayoutAlign="end">
  <!-- User -->
  <saas-avatar [mode]="AVATAR_MODE.USER" [url]="gravatarUrl" fxLayoutAlign="center center"></saas-avatar>
  <!-- Settings -->
  <button>
    <img src="assets/icon-settings.svg" width="24" height="24">
  </button>
</div>