@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material/theming' as theming;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$saas-blue-palette: (
  50: #E1F4FA,
  100: #B2E4F3,
  200: #81D2EC,
  300: #53C0E4,
  400: #31B3E0,
  500: #0CA6DD,
  600: #0198CF,
  700: #0086BC,
  800: #0075A9,
  900: #005588,
  A100: map.get(mat.$blue-palette, A100),
  A200: #0198CF,
  A400: map.get(mat.$blue-palette, A400),
  A700: map.get(mat.$blue-palette, A700),
  contrast: (
    50: theming.$dark-primary-text,
    100: theming.$dark-primary-text,
    200: theming.$dark-primary-text,
    300: theming.$dark-primary-text,
    400: theming.$dark-primary-text,
    500: theming.$light-primary-text,
    600: theming.$light-primary-text,
    700: theming.$light-primary-text,
    800: theming.$light-primary-text,
    900: theming.$light-primary-text,
    A100: theming.$dark-primary-text,
    A200: theming.$light-primary-text,
    A400: theming.$light-primary-text,
    A700: theming.$light-primary-text,
  )
);

$saas-red-palette: (
  50: #FFEBF0,
  100: #FFCDD6,
  200: #F8989F,
  300: #F26E79,
  400: #FF4756,
  500: #FF2C3B,
  600: #F71F3B,
  700: #E50E35,
  800: #D8002D,
  900: #C90020,
  A100: map.get(mat.$red-palette, A100),
  A200: map.get(mat.$red-palette, A200),
  A400: map.get(mat.$red-palette, A400),
  A700: map.get(mat.$red-palette, A700),
  contrast: (
    50: theming.$dark-primary-text,
    100: theming.$dark-primary-text,
    200: theming.$dark-primary-text,
    300: theming.$dark-primary-text,
    400: theming.$dark-primary-text,
    500: theming.$light-primary-text,
    600: theming.$light-primary-text,
    700: theming.$light-primary-text,
    800: theming.$light-primary-text,
    900: theming.$light-primary-text,
    A100: theming.$dark-primary-text,
    A200: theming.$light-primary-text,
    A400: theming.$light-primary-text,
    A700: theming.$light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette($saas-blue-palette);
$accent: mat.define-palette($saas-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette($saas-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
