@import 'styles/fonts.less';
@import 'styles/material-icons.less';
@import 'styles/text.less';
@import 'styles/colors.less';

html,
body {
  height: 100%;
}

body,
input,
textarea,
button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: @alabaster;
  color: @black;

  &.mat-typography {
    &:extend(.text-size);
  }
}

img,
button,
select {
  border-style: none;
}

button {
  background-color: initial;
  cursor: pointer;
}

saas-home > router-outlet + * {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
