<mat-list-item draggable="true" (dragstart)="onDragStart()">
    <img *ngIf="type === ResourceType.AWS"  matListIcon src="assets/aws.png">
    <img *ngIf="type === ResourceType.AZURE"  matListIcon src="assets/azure.svg">
    <img *ngIf="type === ResourceType.GCP"  matListIcon src="assets/gcp.png">
    <h6 matLine>{{name}}</h6>
    <p matLine>{{region}}</p>
</mat-list-item>
