@import '../../../styles/styles';

:host {
  border-radius: 5px;
  border: 1px solid @pure-black;
}

mat-card {
  background-color: @super-silver;

  mat-list {
    overflow-y: auto;
  }
}

mat-card-title {
  .text-size-bold;
  color: @black;
  margin-bottom: 30px;
}
