<mat-card>
  <mat-card-title>Resources</mat-card-title>
  <mat-card-content>
    <mat-list>
      <saas-resource-menu-item *ngFor="let resource of resources" [resource]="resource" (handleDragStart)="onDragStart($event)">
      </saas-resource-menu-item>
    </mat-list>
  </mat-card-content>
</mat-card>
